<%= render partial: "shared/posheader"%>

<div class="main">
	<div class="content">
		<div class="tab_content news group">
      <div class="left_menu">
        <h2>留言板</h2>
        <ul>
          <% Area.roots.each do |area| %>
            <li><a href="/pos_firms?area_id=<%= area.id %>"><%= area.name %>留言板</a></li>
          <%- end -%>
        </ul>
      </div><!--left_menu ends-->
			<div class="right_main">
				<div class="wizard">
				</div>
				<h3 class="inner_tit"><span>发表人:<%= @pos_firm.user.display_name if @pos_firm.user%></span><%= @pos_firm.title %></h3>
				<div class="review">
					<p><%= raw @pos_firm.content %></p>
					<table class="review_intr" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="20%">地区：<%= @pos_firm.user.area %></td>
							<td width="20%">柜台：<%= @pos_firm.user.counter %></td>
							<td width="20%">BA:<%= @pos_firm.user.user_ba %></td>
							<td width="20%">发布时间：<%= format_topic_time @pos_firm.created_at %></td>
							<td width="20%" class="btn_operate">
								<!-- <a class="clik_review" href="#">回复</a> -->
							</td>
						</tr>
					</table>
				</div><!--review ends-->

				<div class="review_area story_main">
					<%= render partial: "shared/pos_review", locals: {resource: @pos_firm} %>

				</div><!--review_area ends-->

			</div><!--right_main ends-->
			<div class="clear"></div>
		</div><!--news tab ends-->
	</div>
</div><!--main ends-->

<%#= render partial: "shared/popreview", locals: {resource: @pos_firm} %>