<%= render partial: "shared/settingheader" %>

<div class="main">
  <div class="content">
    <div class="tab_content news group">
      <div class="left_menu">
        <h2>用户设置</h2>
        <ul>
          <li><a href="/users?item=1">兰芝</a></li>
          <li><a href="/users?item=2">梦妆</a></li>
          <li><a href="/users?item=3">雪花秀</a></li>
        </ul>
      </div><!--left_menu ends-->

      <div class="right_main">
        <table class="info_list" cellspacing="0" cellpadding="0">
          <tr>
            <th class="border_rl" width="10%">编号</th>
            <th width="10%">用户名</th>
            <th width="20%">头像</th>
            <th width="10%">品牌</th>
            <th width="10%">地区</th>
            <th width="10%">角色</th>
            <th width="10%">生效时间</th>
            <th width="10%">状态</th>
            <th class="border_rr" width="10%">操作</th>
          </tr>

          <%- @users.each do |user| %>
          <tr>
            <td><a href="#"><%= user.id %></a></td>
						<td><a href="#"><%= user.name %></a></td>
            <td><img style="margin:10px;" src="<%= asset_path "hall_img.jpg" %>" alt="" /></td>
						<td><a href="#"><%= User::BRAND[user.brand_id.to_s] %></a></td>
						<td><%= user.area_id %></td>
						<td><%= user.role_id %></td>
						<td><%= user.created_at.to_date %></td>
						<td><%= user.status %></td>
						<td class="btn_operate">
							<%= link_to "编辑", edit_user_path(user) %>
							<a href=" ">权限</a>
							<%= user.status.zero? ? link_to("取消禁止", user_open_path(user)) : link_to("禁止", user_not_path(user)) %>
						</td>
          </tr>
          <%- end -%>


          <tr>
            <td class="page_bar btn_operate" colspan="8">
              每页显示
              <%= ssep_paginate(params[:per_page]) %>
              <%= paginate @users %>
            </td>
          </tr>
        </table>

      </div><!--right_main ends-->
      <div class="clear"></div>
    </div><!--news tab ends-->

  </div>
</div><!--main ends-->
