<%= render partial: "shared/header" %>

<div class="main">
    <div class="content">
        <div class="tab_content" id="welcome">
            <div class="user_area">
                <div class="user_info group">
                    <img class="user_img" src="<%= asset_path "user_img.jpg" %>" alt="" />
                    <h4><%= current_user.display_name %></h4>
                    <p>角色：<%= current_user.role %></p>
                    <P>品牌：<%= current_user.brand %></P>
                </div>
                <div class="user_info">
                    <h4>与我有关</h4>
                    <p>相关：20</p>
                    <P>发表：15</P>
                </div>
                <div class="user_info noborder">
                    <h4>待我处理</h4>
                    <p>回复：2</p>
                </div>
                <div class="clear"></div>
            </div><!--user_area ends-->

            <div class="con_show">
                <div class="group">
                    <div class="con">
                        <h2>名誉殿堂</h2>
                        <img class="con_img" src="<%= asset_path "hall_img.jpg" %>" alt="" />
                        <div class="article">
                            <h3>我的专业+我对顾客的4心=成功的销售</h3>
                            <p>这几天专柜正在搞活动，客流很大，大家也非常辛苦的在加班，我们都非常积极主动的站在柜外邀约顾客，这时一位女士把目光瞟向专柜，我忙拿着香装微笑的说:您好！欢迎光临兰芝。</p>

                            <a class="btn_more" href="/best_practices/2093?viewed=true">more</a>
                        </div>
                    </div><!--con tab ends-->

                    <div class="con nomargin_r">
                        <h2>优秀事例</h2>
                        <img class="con_img" src="<%= asset_path "bp_img.jpg" %>" alt="" />
                        <div class="article">
                            <h3>SSEP先苦后甜的感受---新世界司马海燕</h3>
                            <p>总结：这笔单虽然不大，但我已经全部把SSEP的精髓都融入了，虽然有点小累，但我跟顾客都得到了感动，感谢我们的顾客，也感谢我们老师的教诲！</p>
                            <a class="btn_more" href="/best_practices/2130?viewed=true">more</a>
                        </div>
                    </div><!--con tab ends-->
                </div>

                <div class="group">
                    <div class="con_bp">
                        <h2><a class="btn_more" href="/best_practices?section=12">更多</a>热点BP</h2>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="15%">编号</th>
                                <th width="20%">所属栏目</th>
                                <th width="30%">标题</th>
                                <th width="15%">阅览数</th>
                                <th width="20%">操作</th>
                            </tr>

                            <%- @topics1.each do |topic| -%>
                            <tr>
                                <td><%= topic.id %></td>
                                <td>优秀BP</td>
                                <td><%= topic.title %></td>
                                <td><%= topic.view_count %></td>
                                <td class="btn_operate"><!-- <a href="#">编辑</a> --><a href="/best_practices/<%= topic.id %>?viewed=true">查看</a></td>
                            </tr>
                            <%- end -%>

                        </table>

                    </div><!--con tab ends-->

                    <div class="con_bp nomargin_r">
                        <h2><a class="btn_more" href="/best_practices?section=13">更多</a>推荐BP</h2>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="15%">编号</th>
                                <th width="20%">所属栏目</th>
                                <th width="30%">标题</th>
                                <th width="15%">阅览数</th>
                                <th width="20%">操作</th>
                            </tr>

                            <%- @topics2.each do |topic| -%>
                            <tr>
                                <td><%= topic.id %></td>
                                <td>优秀BP</td>
                                <td><%= topic.title %></td>
                                <td><%= topic.view_count %></td>
                                <td class="btn_operate"><!-- <a href="#">编辑</a> --><a href="/best_practices/<%= topic.id %>?viewed=true">查看</a></td>
                            </tr>
                            <%- end -%>

                        </table>

                    </div><!--con tab ends-->
                </div>

            </div>
        </div><!--welcome tab ends-->

    </div>
    <div class="clear"></div>
</div><!--main ends-->