<%= render partial: "shared/header" %>
<div class="main">
  <div class="content">
    <div class="tab_content news group">
      <%= render partial: "shared/left_nav" %>
      <div class="right_main">
        <div class="wizard">
          <span class="btn_operate"><a href="/<%= @section.eng_name %>/new?section=<%= params[:section] %>">发表文章</a></span><a href="/bas?section=good_bp"><%= @section.title %></a><%= ssep_nav(params[:section]) %>
        </div>

        <table class="info_list" cellspacing="0" cellpadding="0">
          <tr>
            <th class="border_rl" width="10%">编号</th>
            <th width="10%">品牌</th>
            <th width="10%">所属栏目</th>
            <th width="25%">标题</th>
            <th width="10%">阅览数/回复</th>
            <th width="10%">发布时间</th>
            <th width="10%">发布人</th>
            <th class="border_rr" width="15%">操作</th>
          </tr>

          <%- @bas.each do |ba| %>
          <tr>
            <td><%= link_to ba.id, bas_path(ba) %></a></td>
            <td><%= link_to ba.brand || "", bas_path(ba) %></a></td>
            <td><%= ba.section.try(:title) %></td>
            <td><%= link_to ba.title, bas_path(ba) %></a></td>
            <td><%= link_to "#{ba.view_count}/#{ba.comments.count}", "#" %></td>
            <td><%= format_topic_time ba.updated_at %></td>
            <td><%= ba.user.try(:display_name) %></td>
            <td class="btn_operate">
              <%= link_to_if(current_user.news, "编辑", edit_ba_path(ba)) %>
              <%= link_to "查看", ba_path(ba, :viewed => true) %>
            </td>
          </tr>
          <%- end -%>
          <tr>
            <td class="page_bar btn_operate" colspan="8">
              每页显示
              <%= ssep_paginate(params[:per_page]) %>
              <%= paginate @bas %>
            </td>
          </tr>
        </table>

      </div><!--right_main ends-->
      <div class="clear"></div>
    </div><!--news tab ends-->

  </div>
</div><!--main ends-->

<script type="text/javascript">
  $(function(){
    $("#will_paginate").change(function(){
      per_page = this.value;
      window.location.href="/bas?seciton=<%= params[:section] %>&per_page="+per_page;
    });
  });
</script>