<%= render partial: "shared/header" %>

<div class="main">
    <div class="content">
    	<div class="tab_content news group">
        	<div class="left_menu">
            	<h2>BA课题</h2>
            	<ul>
                	<li><a href="#">笔记本</a></li>
                    <li><a href="bp.html">BP事例</a></li>
                    <li><a href="#">自传SSEP的课题</a></li>
                </ul>
            </div><!--left_menu ends-->
            
            <div class="right_main">
            	<div class="wizard">
                	<span class="btn_operate"><a href="/bas/new">发表文章</a><a href="/bas">返回上级</a></span><a href="#">BA课题</a>&nbsp;&gt;&nbsp;BP XXX1事例 ！！
                </div>
                
                <h3 class="inner_tit"><span>发表人:Admin</span>BP XXX1事例 ！！</h3>
                
                <div class="inner_main">
                    <div class="intr"><span>发布时间：2012-04-01 16:00</span>品牌：兰芝</div>
                    <p class="inner_article">2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！</p>
                    <p><img src="<%= asset_path "hall_img.jpg" %>" alt="" /><img src="<%= asset_path "hall_img.jpg" %>" alt="" /></p>
                    <p>态度结果：2012培训季开始啦 askkk ks90<br />销售结果：2012培训季开始啦 askkk ks90</p>
                    <div class="btn_review">
                        <span class="btn_operate"><a href="#">推荐</a><a class="clik_review" href="#">回复</a></span>
                        <div class="clear"></div>
                    </div>
              </div>

                <div class="review_area">
                    <%= render partial: "shared/review" %>
                </div><!--review_area ends-->
                
                <div class="page_bar btn_operate"><a href="#">首页</a><a href="#">上一页</a><span><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a></span><a href="#">下一页</a><a href="#">末页</a></div>
            </div><!--right_main ends-->
            <div class="clear"></div>
        </div><!--news tab ends-->
    </div>
</div><!--main ends-->

<%= render partial: "shared/popreview" %>